/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    justify-content: flex-start; 
    min-height: 100vh;
    
}
/* ÖVRIGT SAMT ANIMATIONER*/
#image-container {
    position: fixed;
    top: 55%;
    left: 51.5%;
    transform: translate(-50%, -50%);  
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image styles */
#animated-image {
    width: 100px;  /* Set width as needed */
    height: auto;
    opacity: 1;
    animation: fadeOut 3s forwards; 
    border-radius: 1rem;
}


/* FadeOut animation: Change opacity from 1 to 0 in 3 seconds */
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0; 
    }
}